{% extends 'base.html' %}
{% block content %}
    <div>
        <br><br>
        <h2>{{ details.title }}</h2>
        <p>
            {{ details.pub_date }}
            <br>
            작성자 : {{ details.writer }}
        </p>
        <p>{{ details.body|linebreaks }}</p>

        <br>

        {% if user == details.writer %}
            <a class="btn btn-primary" href="{% url 'edit' details.id %}">수정</a> &nbsp; &nbsp;
            <a class="btn btn-secondary" href="{% url 'delete' details.id %}">삭제</a>
        {% endif %}
    </div>
{% endblock %}